#scrolling-content {
	height: 300px;
	overflow-y: scroll;
}

.button {
	cursor: pointer;
}

.nav {
	--bs-nav-link-color: var(--bs-white);
	--bs-nav-pills-link-active-color: var(--bs-primary);
	--bs-nav-pills-link-active-bg: var(--bs-white);
}

#pillNav2 .nav-link {
	border-radius: 30px;
	margin-right: 30px;
	padding: 10px 20px;
	background-color: white;
	color: black;
}

.flex-box-row {
	display: flex;
	flex-flow: row;
	padding-left: 70px;
	padding-right: 70px;
}

.flex-box-column {
	margin-left: 30px;
	display: flex;
	flex-flow: column;
}

.paddings {
	padding: 20px
}

.flex-box-column-2 {
	display: flex;
	flex-flow: column;
	padding-left: 70px;
	padding-right: 70px;
}

.flex-box-row-2 {
	display: flex;
	flex-flow: row;
}

h1 {
	padding-top: 8px;
	margin-left: 10px;
	margin-right: 10px;
	color: black;
	text-align: center;
	font-size: 50px;
	font-family: "Open Sans";
	top: 1px;
}

#homepage-heading {
	margin-bottom: 50px;
	height: 70px;
	background-color: lightpink;
	border: 1px solid black;
	font-family: "Open Sans";
	font-weight: bolder;
}

#biking {
	/* an image */
	width: 280x;
	height: 280px;
}

h2 {
	margin-left: 10px;
	margin-right: 10px;
	font-size: 28px;
	font-family: 'Open Sans';
}

#title-1 {
	/* Amsterdam In A Different Way title */
	margin-top: -10px;
	margin-bottom: 20px;
}

p {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: -30px;
	font-size: 24px;
	font-family: 'Open Sans', sans-serif;
}

#map {
	/* an image of a map */
	padding-right: 35px;
	margin-top: -58px;
	width: 220x;
	height: 220px;
}


#title-2 {
	/* Game title */
	margin-top: 40px;
	margin-bottom: 5px
}

#body-2 {
	margin-top: -27px;
}

.play-button {
	margin-left: 500px;
	margin-bottom: 20px;
	right: 915px;
	font-size: 27px;
	font-family: 'Open Sans';
}

.play {
	margin: 630px 0 0 -860px;
}

#urban-cycling-institute-logo {
	width: 10%;

}

#navbar {
	--bs-nav-link-color: var(--bs-white);
	--bs-nav-pills-link-active-color: var(--bs-primary);
	--bs-nav-pills-link-active-bg: var(--bs-white);
	max-width: 500px;
	position: absolute;
}

.nav-link {
	font-family: "Open Sans";

}

#pillNav2 .nav-link:hover {
	background-color: lightgreen;
}

#play-button {}

.index-subheading {
	font-family: "Open Sans";
}

.mission-container {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}

#mission-task {
	background-color: rgb(255, 229, 182);
	border: 1px solid black;
	color: black;
	text-align: left;
	font-size: 25px;
	padding-left: 10px;
	padding-top: 5px;
	font-family: 'Open Sans';
	width: 70%;
}

#mission-description {
	background-color: #b6d4ff;
	border: 1px solid black;
	color: black;
	text-align: left;
	font-size: 25px;
	padding-left: 10px;
	padding-top: 5px;
	font-family: 'Open Sans';
	width: 70%;
}

#homepage-content-container {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}

#homepage-width-container {
	width: 70%;
}
